.wrapper {
    display: flex;
    margin: 35px;
}
.wrapper div {
    width: 6px;
    height: 30px;
    background: rgb(255, 115, 22);
    margin: 1.5px;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    transition: 2s;
}
.first {
    opacity: 1;
    animation-name: firstDiv;
}
@keyframes firstDiv {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}
.second {
    opacity: 1;
    animation-name: secondDiv;
    animation-delay: 200ms;
}
@keyframes secondDiv {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}
.third {
    opacity: 1;
    animation-name: thirdDiv;
    animation-delay: 400ms;
}
@keyframes thirdDiv {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}